/* styles/Home.module.css */
.hero {
  width: 100%;
  height: 100vh; /* 画面いっぱいの高さ */
  background-image: url('/topImage.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}